.select {
	width: 100%;
	border: 1.5px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	margin: 3px 0 8px 0;
}
.select:hover {
	border-color: var(--color-primary);
}
.date {
	width: 100%;
	height: 100%;
	padding: 11px 12px;
	border: none !important;
	outline: none !important;
	z-index: 999999999;
}
